---
pagination:
  data: site.languages
  size: 1
  alias: langItem
layout: layouts/legal.njk
title: Privacy Policy
permalink: "/{% if langItem.code != 'en' %}{{ langItem.code }}/{% endif %}privacy.html"
---
{% set lang = langItem.code %}
{% set uiLegal = ui.legal[lang] %}
{% set uiFooter = ui.footer[lang] %}
{% set pageTitle = uiLegal.privacyTitle %}
{% set lastUpdatedText = uiLegal.lastUpdated %}

{% set uiPrivacy = ui.privacyPage %}

<!-- Override layout variables -->
{% set title = pageTitle %}
{% set description = pageTitle + " - " + site.name %}

<p>{{ uiPrivacy.intro[lang] }}</p>

<h2>{{ uiPrivacy.collectTitle[lang] }}</h2>
<p>{{ uiPrivacy.collectIntro[lang] }}</p>
<ul>
    <li>{{ uiPrivacy.collectList1[lang] | safe }}</li>
    <li>{{ uiPrivacy.collectList2[lang] | safe }}</li>
    <li>{{ uiPrivacy.collectList3[lang] | safe }}</li>
</ul>

<h2>{{ uiPrivacy.useTitle[lang] }}</h2>
<ul>
    <li>{{ uiPrivacy.useList1[lang] }}</li>
    <li>{{ uiPrivacy.useList2[lang] }}</li>
    <li>{{ uiPrivacy.useList3[lang] }}</li>
    <li>{{ uiPrivacy.useList4[lang] }}</li>
</ul>

<h2>{{ uiPrivacy.storageTitle[lang] }}</h2>
<p>{{ uiPrivacy.storageText[lang] }}</p>

<h2>{{ uiPrivacy.thirdPartyTitle[lang] }}</h2>
<p>{{ uiPrivacy.thirdPartyIntro[lang] }}</p>
<ul>
    <li>{{ uiPrivacy.thirdPartyList1[lang] | safe }}</li>
    <li>{{ uiPrivacy.thirdPartyList2[lang] | safe }}</li>
</ul>

<h2>{{ uiPrivacy.adsTitle[lang] }}</h2>
<p>{{ uiPrivacy.adsText1[lang] }}</p>
<p>{{ uiPrivacy.adsText2[lang] | safe }}</p>

<h2>{{ uiPrivacy.rightsTitle[lang] }}</h2>
<p>{{ uiPrivacy.rightsText[lang] }}</p>
<ul>
    <li>{{ uiPrivacy.rightsList1[lang] }}</li>
    <li>{{ uiPrivacy.rightsList2[lang] }}</li>
    <li>{{ uiPrivacy.rightsList3[lang] }}</li>
    <li>{{ uiPrivacy.rightsList4[lang] }}</li>
</ul>

<h2>{{ uiPrivacy.cookiesTitle[lang] }}</h2>
<p>{{ uiPrivacy.cookiesText[lang] }}</p>

<h2>{{ uiPrivacy.childrenTitle[lang] }}</h2>
<p>{{ uiPrivacy.childrenText[lang] }}</p>

<h2>{{ uiPrivacy.changesTitle[lang] }}</h2>
<p>{{ uiPrivacy.changesText[lang] }}</p>

<h2>{{ uiPrivacy.contactTitle[lang] }}</h2>
<p>{{ uiPrivacy.contactText[lang] }} <a href="mailto:worthit.tuliai@gmail.com">worthit.tuliai@gmail.com</a></p>
