---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /
Disallow: /admin/
Disallow: /_private/

# Sitemaps - Prioritized by importance
Sitemap: {{ (site.url + "/sitemap-index.xml") | canonicalUrl }}
Sitemap: {{ (site.url + "/sitemap-core.xml") | canonicalUrl }}
Sitemap: {{ (site.url + "/sitemap-calculators.xml") | canonicalUrl }}
Sitemap: {{ (site.url + "/sitemap-locations.xml") | canonicalUrl }}
Sitemap: {{ (site.url + "/sitemap-legal.xml") | canonicalUrl }}

# Disallow crawling of API endpoints (if any)
Disallow: /api/
Disallow: /.netlify/

# Allow well-behaved LLM crawlers
User-agent: GPTBot
Allow: /
User-agent: Google-Extended
Allow: /
User-agent: CCBot
Allow: /
User-agent: ClaudeBot
Allow: /

# Block aggressive SEO scrapers
User-agent: AhrefsBot
Disallow: /
User-agent: SemrushBot
Disallow: /
User-agent: MJ12bot
Disallow: /
User-agent: DotBot
Disallow: /
User-agent: PetalBot
Disallow: /
User-agent: BLEXBot
Disallow: /
