---
permalink: /sitemap-calculators.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {# All language homepage variants #}
  {%- for home in collections.homePages %}
  {%- if home.lang != site.defaultLang %}
  {%- set homePath = '/' + home.lang %}
  <url>
    <loc>{{ (site.url + homePath) | canonicalUrl }}</loc>
    <lastmod>{{ site.buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
    {%- for langItem in site.languages %}
    {%- set altHomePath = '/' if langItem.code == site.defaultLang else '/' + langItem.code -%}
    <xhtml:link rel="alternate" hreflang="{{ langItem.code }}" href="{{ (site.url + altHomePath) | canonicalUrl }}"/>
    {%- endfor %}
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ (site.url + '/') | canonicalUrl }}"/>
  </url>
  {%- endif %}
  {%- endfor %}

  {# Non-English calculator pages + Niche pages (no location/state/country) #}
  {%- for page in collections.calculatorPages %}
  {%- if (page.lang != 'en' or page.isNiche) and not page.stateData and not page.countryData and not page.location %}
  <url>
    <loc>{{ page.canonicalUrl | canonicalUrl }}</loc>
    <lastmod>{{ page.lastmod }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>{% if page.isNiche %}0.7{% else %}0.8{% endif %}</priority>
    {%- for langCode, href in page.alternates %}
    <xhtml:link rel="alternate" hreflang="{{ langCode }}" href="{{ href | canonicalUrl }}"/>
    {%- endfor %}
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ (page.alternates[site.defaultLang] or page.canonicalUrl) | canonicalUrl }}"/>
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
