---
permalink: /sitemap-legal.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {%- set legalPages = ["privacy", "terms", "refund"] -%}
  {%- for slug in legalPages %}
  {%- for langItem in site.languages %}
  {%- set legalPath = '/' + slug if langItem.code == site.defaultLang else '/' + langItem.code + '/' + slug %}
  <url>
    <loc>{{ (site.url + legalPath) | canonicalUrl }}</loc>
    <lastmod>{{ site.buildDate }}</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.2</priority>
    {%- for altLang in site.languages %}
    {%- set altLegalPath = '/' + slug if altLang.code == site.defaultLang else '/' + altLang.code + '/' + slug -%}
    <xhtml:link rel="alternate" hreflang="{{ altLang.code }}" href="{{ (site.url + altLegalPath) | canonicalUrl }}"/>
    {%- endfor %}
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ (site.url + '/' + slug) | canonicalUrl }}"/>
  </url>
  {%- endfor %}
  {%- endfor %}
</urlset>
