---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>{{ site.year }}-01-01</lastmod>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
  {%- for page in collections.calculatorPages %}
  <url>
    <loc>{{ site.url }}/{{ page.lang }}/{{ page.slug }}/</loc>
    <lastmod>{{ site.year }}-01-15</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
    {%- for langItem in site.languages %}
    <xhtml:link rel="alternate" hreflang="{{ langItem.code }}" href="{{ site.url }}/{{ langItem.code }}/{{ calculators[page.type].slugs[langItem.code] }}/"/>
    {%- endfor %}
  </url>
  {%- endfor %}
</urlset>
